body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

div {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#rover-sprite {
  width: 6%;
  height: auto;
  position: absolute;
  top: calc((10 / 946) * 100%);
  left: calc((1150 / 1920) * 100%);
}
