/* every page */

:root {
  --main-color-one: #031d40;
  --main-color-two: white;
}

body {
  margin: 0;
  padding-top: 50px;
  background-color: var(--main-color-one);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  color: white;
}

#no-script {
  background-color: var(--main-color-one);
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar {
  background-color: var(--main-color-one);
  padding: 20px;
  margin: 0;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar a {
  display: inline;
  padding: 10px;
  text-decoration: none;
}

#navbar a:hover {
  padding: 10px;
  text-decoration: underline;
  background-color: var(--main-color-two);
  color: var(--main-color-one);
}

.active {
  color: var(--main-color-one);
  background-color: var(--main-color-two);
}

#logout-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background-color: var(--main-color-two);
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1em;
  color: var(--main-color-one);
  height: 100px;
}

#logout-modal h3 {
  color: var(--main-color-one);
}

.logout-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-buttons a {
  display: inline;
  color: var(--main-color-two);
  background-color: var(--main-color-one);
  border: none;
  width: 40%;
  padding: 10px;
  margin: auto;
  border-radius: 00.5em;
  box-shadow: 10px 10px 15px 0px #8b8e90;
  text-decoration: none;
  text-align: center;
}

.logout-buttons a:hover {
  cursor: pointer;
  background-color: #23551b;
  border: solid 3px var(--main-color-one);
  color: var(--main-color-two);
}

h1 {
  text-align: center;
  border: none;
  padding: 20px;
  color: var(--main-color-one);
  font-size: 500%;
  background-color: var(--main-color-two);
}

h3 {
  text-align: center;
  color: white;
}

h4 {
  text-align: center;
  color: white;
}

img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: white;
}
