/* every page */

:root {
  --main-color-one: #031d40;
  --main-color-two: #e0e8ed;
}
body {
  margin: 0;
  padding-top: 50px;
  background-color: var(--main-color-one);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  color: white;
}

h1 {
  text-align: center;
  border: none;
  padding: 20px;
  color: var(--main-color-one);
  font-size: 500%;
  background-color: var(--main-color-two);
}

/* login page */
.login {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color-two);
  border-radius: 1em;
  padding: 30px;
  margin-top: 100px;
  color: var(--main-color-one);
}

.login h2 {
  text-align: center;
  font-size: 120%;
  padding: 10px;
}

.form-input {
  padding: 10px;
  margin: 10px;
}

.form-input input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  background: transparent;
  border-bottom: solid 1px;
}

.form-input input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 150%;
  border-radius: 0.5em;
  background-color: var(--main-color-one);
  color: var(--main-color-two);
  border: none;
  box-shadow: 10px 10px 15px 0px #8b8e90;
}

.form-input input[type="submit"]:hover {
  cursor: pointer;
  background-color: #23551b;
  border: solid 3px var(--main-color-one);
  color: var(--main-color-two);
}

.login p a {
  color: var(--main-color-one);
}

.password-warning {
  display: none;
}

.hidden {
  display: none;
}

#navbar {
  background-color: var(--main-color-one);
  padding: 20px;
  margin: 0;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  color: var(--main-color-two);
}

#navbar a:hover {
  padding: 10px;
  text-decoration: underline;
  background-color: var(--main-color-two);
  color: var(--main-color-one);
}

#navbar .active {
  color: var(--main-color-one);
  background-color: var(--main-color-two);
}
